services:
    web:
        image: ghcr.io/jaikeex/cookhound:latest
        restart: always
        ports:
            - '3000:3000'
        environment:
            - NODE_ENV=production
            - NEXT_PUBLIC_ENV=${NEXT_PUBLIC_ENV}
            - NEXT_SHARP_PATH=${NEXT_SHARP_PATH}
            - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
            - NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=${NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID}
            - NEXT_PUBLIC_ORIGIN=${NEXT_PUBLIC_ORIGIN}
            - NEXT_PUBLIC_COOKIE_DOMAIN=${NEXT_PUBLIC_COOKIE_DOMAIN}
            - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
            - GOOGLE_OAUTH_CLIENT_SECRET=${GOOGLE_OAUTH_CLIENT_SECRET}
            - GOOGLE_OAUTH_REDIRECT_URI=${GOOGLE_OAUTH_REDIRECT_URI}
            - SMTP_HOST=${SMTP_HOST}
            - SMTP_USERNAME=${SMTP_USERNAME}
            - SMTP_PASSWORD=${SMTP_PASSWORD}
            - LOG_DIR=${LOG_DIR}
            - GOOGLE_API_PROJECT_ID=${GOOGLE_API_PROJECT_ID}
            - GOOGLE_LOGGING_CREDENTIALS_BASE64=${GOOGLE_LOGGING_CREDENTIALS_BASE64}
            - GOOGLE_STORAGE_CREDENTIALS_BASE64=${GOOGLE_STORAGE_CREDENTIALS_BASE64}
            - GOOGLE_GMAIL_CREDENTIALS_BASE64=${GOOGLE_GMAIL_CREDENTIALS_BASE64}
            - GOOGLE_STORAGE_BUCKET_RECIPE_IMAGES=${GOOGLE_STORAGE_BUCKET_RECIPE_IMAGES}
            - GOOGLE_STORAGE_BUCKET_AVATAR_IMAGES=${GOOGLE_STORAGE_BUCKET_AVATAR_IMAGES}
            - REVALIDATE_PATH_TOKEN=${REVALIDATE_PATH_TOKEN}
            - DB_NAME=${DB_NAME}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            - DB_PORT=${DB_PORT}
            - DB_SSL=${DB_SSL}
            - DATABASE_URL=${DATABASE_URL}
            - DB_CONNECTIONS=${DB_CONNECTIONS}
            - DB_IDLE_TIMEOUT=${DB_IDLE_TIMEOUT}
            - DB_ACQUIRE_TIMEOUT=${DB_ACQUIRE_TIMEOUT}
            - DB_MAX_ATTEMPTS=${DB_MAX_ATTEMPTS}
            - REDIS_TTL=${REDIS_TTL}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
            - TYPESENSE_API_KEY=${TYPESENSE_API_KEY}
            - NEXT_PUBLIC_TYPESENSE_SEARCH_ONLY_KEY=${NEXT_PUBLIC_TYPESENSE_SEARCH_ONLY_KEY}
            - NEXT_PUBLIC_TYPESENSE_HOST=${NEXT_PUBLIC_TYPESENSE_HOST}
            - NEXT_PUBLIC_TYPESENSE_PORT=${NEXT_PUBLIC_TYPESENSE_PORT}
            - NEXT_PUBLIC_TYPESENSE_PROTOCOL=${NEXT_PUBLIC_TYPESENSE_PROTOCOL}
            - OPENAI_API_KEY=${OPENAI_API_KEY}
            - MAIL_DRIVER=${MAIL_DRIVER}
            - MAIL_GMAIL_FROM=${MAIL_GMAIL_FROM}
            - CONTACT_EMAIL=${CONTACT_EMAIL}
        volumes:
            - /var/log/cookhound:/var/log/cookhound
        depends_on:
            - redis
            - typesense

    worker:
        image: ghcr.io/jaikeex/cookhound:latest
        command: ['tsx', 'src/server/queues/worker.ts']
        restart: always
        environment:
            - NODE_ENV=production
            - NEXT_PUBLIC_ENV=${NEXT_PUBLIC_ENV}
            - NEXT_SHARP_PATH=${NEXT_SHARP_PATH}
            - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
            - NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=${NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID}
            - NEXT_PUBLIC_ORIGIN=${NEXT_PUBLIC_ORIGIN}
            - NEXT_PUBLIC_COOKIE_DOMAIN=${NEXT_PUBLIC_COOKIE_DOMAIN}
            - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
            - GOOGLE_OAUTH_CLIENT_SECRET=${GOOGLE_OAUTH_CLIENT_SECRET}
            - GOOGLE_OAUTH_REDIRECT_URI=${GOOGLE_OAUTH_REDIRECT_URI}
            - SMTP_HOST=${SMTP_HOST}
            - SMTP_USERNAME=${SMTP_USERNAME}
            - SMTP_PASSWORD=${SMTP_PASSWORD}
            - LOG_DIR=${LOG_DIR}
            - GOOGLE_API_PROJECT_ID=${GOOGLE_API_PROJECT_ID}
            - GOOGLE_LOGGING_CREDENTIALS_BASE64=${GOOGLE_LOGGING_CREDENTIALS_BASE64}
            - GOOGLE_STORAGE_CREDENTIALS_BASE64=${GOOGLE_STORAGE_CREDENTIALS_BASE64}
            - GOOGLE_GMAIL_CREDENTIALS_BASE64=${GOOGLE_GMAIL_CREDENTIALS_BASE64}
            - GOOGLE_STORAGE_BUCKET_RECIPE_IMAGES=${GOOGLE_STORAGE_BUCKET_RECIPE_IMAGES}
            - GOOGLE_STORAGE_BUCKET_AVATAR_IMAGES=${GOOGLE_STORAGE_BUCKET_AVATAR_IMAGES}
            - REVALIDATE_PATH_TOKEN=${REVALIDATE_PATH_TOKEN}
            - DB_NAME=${DB_NAME}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            - DB_PORT=${DB_PORT}
            - DB_SSL=${DB_SSL}
            - DATABASE_URL=${DATABASE_URL}
            - DB_CONNECTIONS=${DB_CONNECTIONS}
            - DB_IDLE_TIMEOUT=${DB_IDLE_TIMEOUT}
            - DB_ACQUIRE_TIMEOUT=${DB_ACQUIRE_TIMEOUT}
            - DB_MAX_ATTEMPTS=${DB_MAX_ATTEMPTS}
            - REDIS_TTL=${REDIS_TTL}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
            - TYPESENSE_API_KEY=${TYPESENSE_API_KEY}
            - NEXT_PUBLIC_TYPESENSE_SEARCH_ONLY_KEY=${NEXT_PUBLIC_TYPESENSE_SEARCH_ONLY_KEY}
            - NEXT_PUBLIC_TYPESENSE_HOST=${NEXT_PUBLIC_TYPESENSE_HOST}
            - NEXT_PUBLIC_TYPESENSE_PORT=${NEXT_PUBLIC_TYPESENSE_PORT}
            - NEXT_PUBLIC_TYPESENSE_PROTOCOL=${NEXT_PUBLIC_TYPESENSE_PROTOCOL}
            - OPENAI_API_KEY=${OPENAI_API_KEY}
            - MAIL_DRIVER=${MAIL_DRIVER}
            - MAIL_GMAIL_FROM=${MAIL_GMAIL_FROM}
            - CONTACT_EMAIL=${CONTACT_EMAIL}
        volumes:
            - /var/log/cookhound:/var/log/cookhound
        depends_on:
            - redis
            - typesense

    redis:
        image: redis:7-alpine
        restart: always
        volumes:
            - redis-data:/data
        command: redis-server --requirepass ${REDIS_PASSWORD}

    typesense:
        image: typesense/typesense:0.25.2
        command: '--data-dir /data --api-key=${TYPESENSE_API_KEY} --listen-port 8108'
        environment:
            - TYPESENSE_DATA_DIR=/data
        restart: always
        volumes:
            - typesense-data:/data
        ports:
            - '8108:8108'
volumes:
    redis-data:
    typesense-data:
