version: '3.9'

services:
    #   app:
    #     build:
    #       context: .
    #       dockerfile: Dockerfile

    #   nginx:
    #     image: nginx:latest
    #     ports:
    #       - "3000:3000"
    #     volumes:
    #       - ./nginx.conf:/etc/nginx/nginx.conf
    #     depends_on:
    #       - app

    database:
        image: mysql:latest
        volumes:
            - db-data:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            - '3306:3306'
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s

    database-shadow:
        image: mysql:latest
        volumes:
            - db-data-shadow:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            - '3307:3306'
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
            interval: 10s

volumes:
    db-data:
    db-data-shadow:
