@layer base {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }

    a {
        color: rgb(29 78 216);
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    a:hover {
        color: rgb(30 58 138);
    }

    .dark a {
        color: rgb(96 165 250);
    }

    .dark a:hover {
        color: rgb(147 197 253);
    }
}

/* Autofill styles for light mode */
.light input:-webkit-autofill,
.light input:-webkit-autofill:hover,
.light input:-webkit-autofill:focus,
.light textarea:-webkit-autofill,
.light textarea:-webkit-autofill:hover,
.light textarea:-webkit-autofill:focus,
.light select:-webkit-autofill,
.light select:-webkit-autofill:hover,
.light select:-webkit-autofill:focus {
    border: 1px solid rgb(51, 65, 85);
    -webkit-text-fill-color: #1f2937;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    color: #1f2937;
}

/* Autofill styles for dark mode */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus {
    border: 1px solid #d1d5db;
    -webkit-text-fill-color: #f3f4f6;
    -webkit-box-shadow: 0 0 0 1000px #0f172a inset;
    box-shadow: 0 0 0 1000px #0f172a inset;
    transition: background-color 5000s ease-in-out 0s;
    color: #f3f4f6;
}

html {
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100vw;
}

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
