@utility page-background {
    inset: 0;
    z-index: -1;
    background-color: #f0fdf4;

    .dark & {
        background-color: #030712;
    }
}

@utility page-wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--breakpoint-sm);

    @media (width >= 768px) {
        max-width: var(--breakpoint-md);
    }

    @media (width >= 1024px) {
        max-width: var(--breakpoint-lg);
    }

    @media (width >= 2000px) {
        max-width: var(--breakpoint-xl);
    }
}

@utility sheet {
    background-color: var(--color-gray-200);
    box-shadow: -4px 4px 15px 0 rgba(0, 0, 0, 0.3);

    .dark & {
        background-color: var(--color-gray-800);
        box-shadow: none;
    }
}
