@import 'tailwindcss';

/* 
Tw js config is deprecated in v4. But since there were problems during the migration, mainly with
fonts and colors, I am leaving the import (and tthe file itself) here for reference, in case any issue
arises that can be hotfixed by simply uncommenting this import. I will try and remember to remove this later...
*/

/* @config "../../tailwind.config.cjs"; */

/* These contain all var declarations. Leave these at the top at all times */
@import './styles/theme/colors.css';
@import './styles/theme/animations.css';
@import './styles/theme/semantic.css';

@theme {
    --default-ring-width: 3px;
    --default-ring-color: var(--color-blue-500);

    --font-size-md: 0.9375rem;

    --font-open-sans: var(--font-open-sans-var), sans-serif;
    --font-kalam: var(--font-kalam-var), cursive;

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 2000px;
}

@import './styles/utilities/buttons.css';
@import './styles/utilities/forms.css';
@import './styles/utilities/layout.css';
@import './styles/utilities/typography.css';
@import './styles/utilities/logo.css';

@import './styles/base.css';
